body {
  margin: 0;
  padding: 0; }

#search {
  background-color: goldenrod; }

.col-md-12 {
  padding: 0; }

.container {
  width: 80%;
  margin-left: 10%; }

#override-navbar {
  margin-bottom: 2%;
  background-color: black; }
  #override-navbar a {
    color: #ffffff; }

.dropdown-menu a {
  color: black !important; }

.navbar {
  background-color: #dcdcdc; }

nav ul {
  width: 76%; }

nav li {
  margin-left: 3%;
  width: 15%; }

button {
  cursor: pointer; }

.btn {
  cursor: pointer; }

#picture-carousel {
  display: inline-block;
  width: 70.3%;
  text-align: center;
  margin-top: 1%; }
  #picture-carousel img {
    width: 20%;
    float: left; }

.modal {
  text-align: center; }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin-left: -6%; }

.modal-body img {
  width: 100%; }

#description {
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%; }
  #description .heading {
    margin-bottom: 2%;
    border-bottom: 1px solid #ccc;
    font-size: 150%; }

#upcoming-events {
  width: 80%;
  clear: both;
  margin-top: 5%;
  margin-bottom: 5%; }
  #upcoming-events .heading {
    border-bottom: 1px solid #ccc;
    margin: 0%;
    font-size: 150%; }

.event-summary {
  border-bottom: 1px solid #ccc; }

.main-heading {
  font-size: 120%; }

#signin-form {
  width: 30%;
  float: right; }

.separator {
  width: 70%;
  float: left; }

#signin-form form {
  border: 3px solid #f5f5f5;
  padding: 5%;
  color: black;
  background-color: #ffffff;
  margin-top: 25%; }

#inspection-button {
  color: #ffffff;
  background-color: goldenrod; }

.separator p {
  font-size: 120%; }

.suitable-for {
  float: left;
  width: 40%; }
  .suitable-for h5 {
    font-size: 150%;
    border-bottom: 1px solid #ccc; }

.facilities {
  float: right;
  width: 40%; }
  .facilities h5 {
    font-size: 150%;
    border-bottom: 1px solid #ccc; }

#divider {
  display: inline-block;
  width: 100%;
  margin-bottom: 0%; }

@media screen and (min-width: 2560px) {
  #signin-form {
    margin-top: -4%; } }
@media screen and (max-width: 1440px) {
  #signin-form {
    margin-top: -1.65%;
    padding: 4%; } }
@media screen and (max-width: 1024px) {
  #description {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%; }
    #description .heading {
      margin-bottom: 2%;
      border-bottom: 1px solid #ccc;
      font-size: 150%; }

  #signin-form {
    margin-top: 0%;
    padding: 0; }
    #signin-form ::-webkit-input-placeholder {
      font-size: 13px; }

  label {
    font-size: 85%; }

  nav li {
    margin-left: 2%;
    width: 19%; }

  nav ul {
    width: 60%; }

  h4, p {
    font-size: 100%; }

  #description p, #description h5 {
    font-size: 100%; }
  #description h5 {
    border-bottom: 1px solid #ccc; }

  .suitable-for p, .suitable-for h5, .facilities p, .facilities h5 {
    font-size: 100%; }

  .separator h1, .separator p {
    font-size: 100%; }

  .upcoming-heading {
    font-size: 100%;
    border-bottom: 1px solid #ccc; }

  .description-heading {
    font-size: 130%; }

  .event-summary a {
    font-size: 90%; }

  #signin-form {
    margin-top: 0%; }
    #signin-form input {
      width: 80%; }

  .central-image {
    width: 90%; } }
@media screen and (max-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%; }

  #signin-form {
    margin-top: 1.5%;
    padding: 0; }
    #signin-form ::-webkit-input-placeholder {
      font-size: 13px; }

  label {
    font-size: 85%; }

  nav li {
    margin-left: 2%;
    width: 19%; }

  nav ul {
    width: 60%; }

  h4, p {
    font-size: 90%; }

  #description {
    margin-bottom: 8%; }
    #description p, #description h5 {
      font-size: 90%; }
    #description h5 {
      border-bottom: 1px solid #ccc; }

  .suitable-for p, .suitable-for h5, .facilities p, .facilities h5 {
    font-size: 90%; }

  .separator h1, .separator p {
    font-size: 90%; }

  .upcoming-heading {
    font-size: 90%;
    border-bottom: 1px solid #ccc; }

  .description-heading {
    font-size: 120%; }

  .event-summary a {
    font-size: 90%; }

  .central-image {
    width: 90%; } }
@media screen and (max-width: 623px) {
  #signin-form {
    margin-top: -15%;
    padding: 0; }
    #signin-form .btn {
      font-size: 70%; }
    #signin-form ::-webkit-input-placeholder {
      font-size: 13px; }
    #signin-form label {
      font-size: 80%; }

  nav li {
    margin-left: 2%;
    width: 19%; }

  nav ul {
    width: 100%; }

  h4, p {
    font-size: 80%; }

  #description {
    margin-bottom: 8%; }
    #description p, #description h5 {
      font-size: 80%; }
    #description h5 {
      border-bottom: 1px solid #ccc; }

  .suitable-for p, .suitable-for h5, .facilities p, .facilities h5 {
    font-size: 80%; }

  .separator h1, .separator p {
    font-size: 80%; }

  .upcoming-heading {
    font-size: 80%;
    border-bottom: 1px solid #ccc; }

  .description-heading {
    font-size: 110%; }

  .event-summary a {
    font-size: 80%; }

  .central-image {
    width: 70%; }

  label {
    font-size: 80%; }

  .container {
    width: 100%; } }
@media screen and (max-width: 568px) {
  #signin-form {
    margin-top: 13.8%;
    padding: 0; }
    #signin-form .btn {
      font-size: 60%; }
    #signin-form ::-webkit-input-placeholder {
      font-size: 13px; }
    #signin-form label {
      font-size: 70%; }

  .container {
    width: 100%;
    padding: 0; } }

/*# sourceMappingURL=style.css.map */
