$zero-margin: 0;
$zero-padding: 0;
$full-width: 100%;
$white-colour: #ffffff;
$black-colour: black;
$cursor-type: pointer;
$gold-colour: goldenrod;

body{
    margin: $zero-margin;
    padding: $zero-padding;
}

#search{
  background: {
    color: $gold-colour;
  }
}

.container{
  width: $full-width;
  padding: $zero-padding;
}

#override-navbar{
    margin: {
      bottom: 2%;
    }
    background: {
      color: $black-colour;
    }
  a {
    color: $white-colour;
  }
}

.dropdown-menu a{
    color: $black-colour !important;
}

.navbar{
    background: {
      color: #dcdcdc;
    }
}

nav ul {
    width: 76%;
}


nav li {
    margin: {
      left: 3%;
    }
    width: 15%
}

button {
    cursor: $cursor-type;
}

.btn {
    cursor: $cursor-type;
}

.fa-camera{
   font: {
      size: 600%;
   }
}

#heading{
  width: 70%;
  margin: {
    left: 27%;
  }
  text: {
    align: left;
  }
  font: {
    size: 130%;
  }
  p {
    border: {
      bottom: 1px solid #ccc;
    }
    margin: {
      bottom: 3%
    }
  }
}

.photo-section{
    width: 20%;
    text: {
      align: center;
    }
    margin: {
      left: 5%;
    }
}

.form-section{
    width: 70%;
    float: right;
    margin: {
      right: 3%;
      top: -11%;
    }
}

.camera-icon {
    width: 70%;
    border: 1px solid black;
    padding: 5% 10% 5% 10%;
    vertical-align: middle;

    &:hover{
      border: {
        color: $gold-colour;
      }
    }
}


#centre-capacity-heading{
  width: 70%;
  margin: {
    left: 27%;
  }
  text: {
    align: left;
  }
  font: {
    size: 130%;
  }
  p {
    border: {
      bottom: 1px solid #ccc;
    }
    margin: {
      bottom: 3%
    }
  }
}

.aside{
  width: 45%;
  float: right;
  margin: {
    right: 5%;
  }
  
  p {
    border:{
      bottom: 1px solid #ccc;
    }
    font: {
      size: 120%
    }
      margin: {
      top: 3%;
      bottom: 2%;
    }
  }
}

.left-aside{
  float: left;
  width: 45%;
  
  p{
    border: {
      bottom: 1px solid #ccc;
      width: 70%;
    }
    font: {
      size: 120%
    }
    margin: {
      top: 3%;
      bottom: 2%;
    }
  }
}

.clear-float{
  display: inline-block;
  margin: {
    top: 2%;
  }
}

#submit{
  background: {
    color: $gold-colour;
  }
  margin: {
    bottom: 5%;
  }
  color: $white-colour
}

#edit{
  color: $white-colour;
  margin: {
    bottom: 5%;
    left: 2%;
  }
  background: {
    color: #ccc;
  }
}

.form-control:focus, input:focus, input[type]:focus, .form-control:hover {
  border-color: $gold-colour;
}
