<DOCTYPE HTML>
<html>
  <head>
    <title>Events-Manager || Welcome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='../Bootstrap/css/bootstrap.min.css'>
    <link rel="stylesheet" href='../Bootstrap/font-awesome-4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href='./style.css'>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id='navbar-override'>
        <a class="navbar-brand" href="#">
<!--    <img src="#" width="30" height="30" class="d-inline-block align-top" alt="">-->
          Events-Manager
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
          <div id='float'>
            <span class="navbar-text">
              <a href='../user-signin/index.html'>SIGN IN</a>
            </span>
            <span class="navbar-text">
             <a href='#'>|</a>
            </span>
            <span class="navbar-text">
              <a href='#'>SIGN UP</a>
            </span>
          </div>
        </div>
     </nav>
    </header>
      
    <section id='showcase'>
      <div class='showcase-container'>
        <h1>WELCOME TO EVENTS MANAGER</h1>
        <h3>Register or Login to be in charge of your events</h3>
<!--        <p>Register or login in now to begin managing your exciting events at one of our events centres</p>-->
      </div>
    </section>

      
    <section id='what-app-does'>
      <div class='box-container'>
        <div class='box adjust-img0'>
          <img src='events-centre-1.jpg'>
          <p>With an intuitive design, find out availability of centres</p>
        </div> 
          
       <div class='box adjust-img1'>
          <img src='events-centre-5.jpg'>
          <p>Add, edit or delete events</p>
        </div> 
          
        <div class='box-1 adjust-img2'>
          <img src='events-centre-6.jpg'>
          <p>Set events to private or public depending on your needs</p>
        </div> 
        
        <div class='box-1 adjust-img3'>
          <img src='events-centre-4.jpg'>
          <p>Search for events centres using a whole range of search parameters</p>
        </div> 
          
      </div>        
    </section>
       
    <script src='../Bootstrap/js/jquery-3.2.1.min.js'></script>  
    <script src='../Bootstrap/js/tether.min.js'></script>
    <script src='../Bootstrap/js/bootstrap.min.js'></script>
  </body>     
</html>