<DOCTYPE HTML>
<html>
  <head>
    <title>Events-Manager || Welcome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='../Bootstrap/css/bootstrap.min.css'>
    <link rel="stylesheet" href='../Bootstrap/font-awesome-4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href='./style.css'>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id='navbar-override'>
        <a class="navbar-brand" href="#">
<!--    <img src="#" width="30" height="30" class="d-inline-block align-top" alt="">-->
          Events-Manager
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
          <div id='float'>
            <span class="navbar-text">
              <a href='../user-signin/index.html'>SIGN IN</a>
            </span>
            <span class="navbar-text">
             <a href='#'>|</a>
            </span>
            <span class="navbar-text">
              <a href='#'>SIGN UP</a>
            </span>
          </div>
        </div>
     </nav>
    </header>
    
    <div class="wrapper">
      
    <section id='showcase'>
      
    </section>
    
      <div class="box-section">
      <section class="box">
        <img src="abc.jpeg" id="easy">
      </section>
      
      
      <section class="box">
        <p>An intuitive design ensures that you can manage your events with the click of a button</p> 
      </section>
        
      </div>
      
    <div class="box-1-section">
    <section class="box-1">
      <p>Book your events ahead of time at one of our prestigious event centres. No last minute rushes.</p>
    </section> 
      
    <section class="box-1">
      <img src="clock.jpeg" id="time-management">
    </section>
      </div>
          
    
    <div class="box-2-section">
    <section class="box-2">
      <img src="privacy.jpg" id="privacy">
   </section>
    

    <section class="box-2">
      <p>If you are a private person, there's the option of making an event private. There's something for everyone</p>
    </section>
      </div>
    
    </div>
 
       
    <script src='../Bootstrap/js/jquery-3.2.1.min.js'></script>  
    <script src='../Bootstrap/js/tether.min.js'></script>
    <script src='../Bootstrap/js/bootstrap.min.js'></script>
  </body>     
</html>