$zero-margin: 0;
$zero-padding: 0;
$full-width: 100%;
$white-colour: #ffffff;
$black-colour: black;
$cursor-type: pointer;
$gold-colour: goldenrod;

#search{
  background: {
    color: $gold-colour;
  }
}

#override-navbar{
    margin: {
      bottom: 2%;
    }
    background: {
      color: $black-colour;
    }
  a {
    color: $white-colour;
  }
}

.dropdown-menu a{
    color: $black-colour;
}

.navbar{
    background: {
      color: #dcdcdc;
    }
}

nav ul {
    width: 76%;
}


nav li {
    margin: {
      left: 3%;
    }
    width: 15%
}

button {
    cursor: $cursor-type;
}

@media (min-width: 992px) {
  #adminLinks-nav > li {
    margin: {
      left: 4em;
      right: 1em;
    }
  }

#guestLinks-nav > li {
  margin: {
    left: 6em;
  }
}

#userLinks-nav > li {
  margin: {
    left: 6em;
  }
}

}