<DOCTYPE HTML>
<html>
  <head>
    <title>Events-Manager || Sign up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='../Bootstrap/css/bootstrap.min.css'>
    <link rel="stylesheet" href='../Bootstrap/font-awesome-4.7.0/css/font-awesome.min.css'>
  </head>
  <body>
    <script src='../Bootstrap/js/jquery-3.2.1.min.js'></script>  
    <script src='../Bootstrap/js/tether.min.js'></script>
    <script src='../Bootstrap/js/bootstrap.min.js'></script>
  </body>     
</html>