$zero-margin: 0;
$zero-padding: 0;
$full-width: 100%;
$white-colour: #ffffff;
$black-colour: black;
$cursor-type: pointer;
$gold-colour: goldenrod;

body{
    margin: $zero-margin;
    padding: $zero-padding;
}

#search{
  background: {
    color: $gold-colour;
  }
}

.container{
  width: $full-width;
  padding: $zero-padding;
}

#override-navbar{
    margin: {
      bottom: 2%;
    }
    background: {
      color: $black-colour;
    }
  a {
    color: $white-colour;
  }
}

.dropdown-menu a{
    color: $black-colour !important;
}

.navbar{
    background: {
      color: #dcdcdc;
    }
}

nav ul {
    width: 76%;
}


nav li {
    margin: {
      left: 3%;
    }
    width: 15%
}

button {
    cursor: $cursor-type;
}

.btn {
    cursor: $cursor-type;
}

.events {
  margin: {
    left: 10%;
  }
  width: 69%;
  border:{
    bottom: 1px solid #ccc;
  }
  padding: 1.2%;
}

.fa{
  font:{
    size: 130%;
  }
}

.page-heading{
  margin: {
    left: 10%;
  }
  border:{
    bottom: 1px solid #ccc;
  }
  width: 69%;
}

.adjust{
  width: 84%;
}

img{
  max-width: 100%;
  height: auto;
}