<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Bootstrap/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>Our Event Centres</title>        
  </head>
  <body>
    <div class="container">
      <div class="row header">
        <div class="col-md-12">
          <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="override-navbar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                 <li class="nav-item">
                  <a class="nav-link" href="../all-events-centres/index.html">All Centres</a>
                </li>
                 <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   My Events
                  </a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                   <a class="dropdown-item" href="../create_events/index.html">Add an event</a>
                   <a class="dropdown-item" href="../all-my-events/index.html">My events</a>                    
                 </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Profile
                  </a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                   <a class="dropdown-item" href="#">My Profile</a>
                 </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../all-events/index.html">Upcoming Events</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../landing-page/index.html">Sign Out</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Find a centre">
                <button class="btn btn-success my-2 my-sm-0" type="submit" id="search">Search</button>
              </form>
            </div>
          </nav>
<!--      navbar ends here -->
          
<!--      Main heading starts here -->
          <div class="row page-heading">
          <h3>Our Events Centres</h3>
          </div>
          
          <div class="row centres viaduct">
              <div class="col-xs-12 col-lg-6">
                <a class="main-heading" href="../events-centre-details/">ANZ Viaduct Events Centre</a>
                <strong><p>161 Halsey Street, Auckland CBD, Auckland</p></strong>
                <em>ANZ Viaduct Events Centre is a premium venue located in Auckland's vibrant waterfront with spectacular views of the Waitemata Harbour and cityscape. Surrounded by some of the city's most exciting restaurants, and just a short harbourside walk to the central business district, ANZ Viaduct Events Centre offers delegates convenience packed with style.
Offering eight separate rooms, the 6000m2 facility can cater for a wide range of events from large scale exhibitions and conferences to intimate cocktail functions and meetings. Click on the link for more details.</em>
              </div>
            
              <div class="col-xs-12 col-lg-4">
                <a href="../events-centre-details/index.html"><img class="ANZ-viaduct" src="events-centre-1.jpg"></a>
              </div>
          </div> 
          
          
<!--          ANZ Viaduct ends-->
          
          
           <div class="row centres">
              <div class="col-xs-12 col-lg-6">
                <a class="main-heading" href="../events-centre-details/">Campus Activity Centre</a>
                <strong><p> 805 TRU Way Kamloops, BC V2C 0C8, Canada</p></strong>
                <em>This multi-use building is home to The Bookstore, Heroes Pub, The Grand Hall, Terrace cafeteria, study space, Simply Computing computer store, TRU Students’ Union and TRUSU’s Independent Centre, Ancillary Services, and meeting rooms available for the public to rent. Click on the link for more details</em>
              </div>
             
              <div class="col-xs-12 col-lg-4">
                <a href="../events-centre-details/index.html"\><img src="events-centre-2.jpg"></a>
              </div>
          </div> 
          
          
<!--        Campus Activity Centre Ends  -->
        
           <div class="row centres">
              <div class="col-xs-12 col-lg-6">
                <a class="main-heading" href="../events-centre-details/">Denny Sanford Premier Center</a>
                <strong><p> 1201 N West Sioux Falls, South Dakota 57104 </p></strong>
                <em>The Denny Sanford Premier Center is a large, multi-use indoor arena in Sioux Falls, South Dakota. The building is located at 1201 North West Avenue, and is connected to the Sioux Falls Arena and Sioux Falls Convention Center, and is adjacent to Howard Wood Field, and Sioux Falls Stadium. The arena's naming rights partners, and largest sponsors, are Sanford Health, First Premier Bank and Premier Bankcard. Completed in 2014, it has a seating capacity of approximately 12,000 spectators and replaces the Rushmore Plaza Civic Center as the largest venue in South Dakota. The Sioux Falls Arena remains and hosts smaller concerts and events, while the Denny Sanford Premier Center hosts large scale concerts and sporting events. Click on the link for more details.</em>
              </div>
             
              <div class="col-xs-12 col-lg-4">
                <img src="events-centre-3.jpg">
              </div>
          </div> 
          
<!--         Denny Sandford Ends -->
          
           <div class="row centres">
              <div class="col-xs-12 col-lg-6">
                <a class="main-heading" href="../events-centre-details/">Sage Gateshead</a>
                <strong><p>Gateshead Quays, South Bank, River Tyne, England</p></strong>
                <em>Sage Gateshead is a concert venue and also a centre for musical education, located in Gateshead on the south bank of the River Tyne, in the North East of England. It opened in 2004 and is tenanted by the North Music Trust.
The venue is part of the Gateshead Quays development, which also includes the BALTIC Centre for Contemporary Art and the Gateshead Millennium Bridge. Sage Gateshead contains three performance spaces; a 1,700-seater, a 450-seater, and a smaller rehearsal and performance hall, the Northern Rock Foundation Hall. Click on the link for more details.
                </em>
              </div>
             
              <div class="col-xs-12 col-lg-4">
                <img src="events-centre-4.jpg">
              </div>
          </div> 
          
<!--         Sage Gateshead Ends-->
          
        </div>
      </div>          
    </div>
      <script src="../Bootstrap/js/jquery-3.2.1.min.js"></script>
      <script src="../Bootstrap/js/tether.min.js"></script>
      <script src="../Bootstrap/js/bootstrap.min.js"></script>
  </body>    
</html>
